<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Underwater Trash Detection</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">

        <h1> Underwater Trash Detection</h1>

        <p class="subtitle">
            Upload an underwater image and let AI detect whether trash is present.
        </p>

        <form action="/predict"
              method="POST"
              enctype="multipart/form-data">

            <input type="file"
                   name="file"
                   accept="image/*"
                   required>

            <br>

            <button type="submit">
                Detect
            </button>

        </form>


        <div class="card">

            <img src="{{ url_for('uploaded_file', filename=image) }}"
                 alt="Uploaded Image"
                 class="preview">

            <h2>Detection Result</h2>

            <p class="result {% if prediction == 'Trash Detected' %}trash{% else %}clean{% endif %}">
                {{ prediction }}
            </p>

            <p class="confidence">
                Confidence: {{ confidence }}%
            </p>

        </div>


        <div class="footer">
            <p>
                AI-Powered Underwater Waste Detection System
            </p>
        </div>

    </div>

</body>
</html>